# Normalize line endings
* text=auto

# Python
*.py text diff=python
*.pyi text diff=python
*.toml text
*.yaml text
*.yml text

# Markdown
*.md text

# Binary
*.db binary
*.db-shm binary
*.db-wal binary
*.png binary
*.jpg binary
